

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#dintmmc-title, #answer, #reason {
    text-align: center;
}

body {
    font: Georgia;
    font-family: serif;   
}














